/* Définition des polices personnalisées */

@font-face 
{
    font-family: 'Raleway';
    src: url('polices/Raleway/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
}

/* Eléments principaux de la page */

body /* Utilisation de la police qu'on vient de définir sur les titres */
{
    font-family: 'Raleway', Serif;
    font-weight: normal;
    color: black;
}

h1
{
    font-size: 1em;
    font-weight: bold;
}

h2
{
    font-size: 0.8em;
    font-weight: normal;
}

/* Header */

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.titre 
{
    display: flex;
    flex-direction: column;
}


.inscription a
{
  display: flex;
  color: #0065FC;
  text-decoration: none;
  font-size: 0.8em; 
}


/* Navigation */

nav 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul
{
    display: flex;
    list-style-type: none;  
}

nav li
{
    
    text-decoration: none; 
}

nav a 
{
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}

nav a:focus
{
    color: #0065FC;
    border-top: #0065FC solid 1px;
    padding : 20px;
}

/* SECTION 1 */

.hebergements
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
}

.hebergements article
{
    background-color: #F2F2F2;
    width: 70%;
    border-radius: 10px;
    padding: 5px
}

.hebergements aside
{
    background-color: #F2F2F2;
    width: 20%;
    border-radius: 10px;
    padding: 5px;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    background-color: #f2f2f2;
}

footer h1
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
    font-size: 0.8em;
    font-weight: bolder;
}
footer ul a
{
    text-decoration: none; 
    color: black;
    font-size: 0.8em; 
}

footer ul
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}