/* Définition des polices personnalisées */

body /* Eléments principaux de la page */ {
  font-family: "Raleway", Serif;
  color: black;
  margin: 25px 50px 0px 50px;
  width: auto;
  height: auto;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

p {
  font-size: 0.8em;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.grey {
  background-color: #f2f2f2;
}

.arrondis {
  border-radius: 20px;
  border-color: 1px solid #f2f2f2;
}

/* Header */

#entete {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.menu li a {
  padding: 30px;
}

.menu li a:focus {
  border-top: 1px solid #0065fc;
  padding-top: 40px;
  color: #0065fc;
}

.inscription {
  color: #0065fc;
  font-weight: bold;
  margin-left: 40px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre {
  margin-top: 20px;
}

header img
{
  object-fit: contain;
}

/*recherche*/

#search {
  display: flex;
  height: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

.searchicon {
  border-radius: 16px 0px 0px 16px;

  margin: auto;
  padding: 15px;
  margin-right: 0px;
  margin-left: 0px;
}

.searchinput {
  border: none;
  font-family: "Raleway";
  font-size: "bold";
  color: black;
  border-top: 1px solid #f2f2f2;
  border-radius: 0px;
  border-bottom: 1px solid #f2f2f2;
  width: 220px;
  margin: auto;
  padding: 15px;
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
}

.searchsubmitinput {
  background-color: #0065fc;
  color: white;
  font-family: "Raleway";
  font-weight: bold;
  border: none;
  border-radius: 0px 16px 16px 0px;
  width: 120px;
  margin: auto;
  padding: 15px;
  margin-left: 0px;
  cursor: pointer;
}

/*filtres */

#searchfiltergroup {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  max-width: 100%;
  cursor: pointer;
}

.searchfilter {
  display: flex;
  align-items: center;
  border: solid 2px #f2f2f2;
  height: 3rem;
  border-radius: 25px;
  margin-left: 20px;
}

.searchfiltericon {
  background-color: #deebff;
  border: 1px #deebff solid;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
}

.searchfiltertitle {
  margin: 0px 10px 0px 10px;
  font-weight: bold;
  font-size: 0.9em;
}

.searchfilter:hover {
  background-color: #deebff;
}

/*info logement */

.infologement {
  display: flex;
}

.infoicone {
  height: 20px;
  width: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 100%;
  margin: 10px 10px 0px 0px;
}

.fa-info {
  margin-left: 0.8em;
  font-size: 0.6em;
  color: #0065fc;
}

/* Section */

/* Hebergements */

.bloc_hebergement {
  display: flex;
  margin-top: 20px;
}

.hebergements {
  padding: 40px 40px 40px 40px;
  margin-right: 40px;
  flex: 2.5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.hebergements h2 {
  width: 100%;
  margin: 0px 0px 30px 0px;
  font-size: 1.3em;
}

.hebergements h4 {
  width: 100%;
  margin: 5px;
}

.hebergements h3 {
  width: 100%;
  margin: 0px;
}

.hebergements p {
  margin: 5px;
}

.hebergementcontener {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 0px 0px 40px 0px;
  max-width: 30%;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  border-color: 1px solid #f2f2f2;
  box-shadow: 1px 1px 10px grey;
}

.vignettecontenu {
  margin: 5px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 120px;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}

img
{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.star {
  display: flex;
  margin: 10px 5px;
  font-size: small;
}
.star [data-active="false"] {
  color: #d9d9d9;
}

.star [data-active="true"] {
  color: #0065fc;
 }

 .hebergementinfo
 {
  margin: 10px;
 }
 

/*populaire*/

.populaire h4 {
  margin: 5px;
}

.populaire h2 {
  font-size: 1.3em;
  margin: 0px 0px 30px 0px;
}

.populaire {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 40px 30px 0px 30px;
  flex: 1;
}

.fa-chart-line 
{
  margin: 5px 0px 20px 0px;
}

.populairetittle
{
  display: flex;
  justify-content: space-between;
}

.pop
{
  max-width: 100%;
}

.hebergementcontener.pop a 
{
  display: flex;
  height: 140px;
 
}

.hebergementcontener.pop a .vignettecontenu
{
  border-radius: 20px 0px 0px 20px;
  height: 130px;
  max-width: 40%;
}

.infopop
{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
}

.populaire p 
{
  margin: 0px 5px;
}

/*activites*/

.activites
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-height: 650px;
  margin-top: 40px;
}

.titleact
{
  width: 100%;
}

.photoact
{
  width: 100%;
  max-height: 450px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 50px 0px;
}

.col1
{
  height: 100%;
  width: 22%;
}
.col2
{
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.col3
{
  height: 100%;
  width: 22%;
}
.col4
{
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vignetteactivites
{
  height: 100%;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 10px grey;
}

.activitestitle
{
  
  height: 60px;
}

.activitesimage
{
  width:100% ;
  height: 100%;
  overflow: hidden;
}

.activites img
{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.activites h4
{
  margin-left: 15px;
}

.act2
{
  height: 58%;
}

.act3
{
  height: 32%;
}

.act5
{
  height: 44%;
}

.act6
{
  height: 44%;
}

.vignetteactivites a
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*Footer */

footer {
  background-color: #f2f2f2;
  padding: 40px 0px 40px 0px;
  margin: 0px -50px 0px -50px;
}

.text {
  display: flex;
  margin-left: 50px;
}

.footer ul {
  list-style-type: none;
  font-size: 0.9em;
  padding-right: 250px;
}

footer li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 10px 0px 10px -40px;
}
